body {
    background-color: palegreen;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

table, th, td {
    border: 1px solid black;
}

.header {
    text-align: center;
    color: darkgreen;
}

.account {
    width: 250px;
}

.center {
    text-align-all: center;

}