body {
    background-color: palegreen;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

.center {
    text-align: center;
}

.table-park {
    width: 50%;
    margin: auto;
    float: none;
}

tr, thead {
    border: 1px solid black;
    padding: 12px;
}

td {
    padding: 12px;
}

th {
    padding: 12px;
    text-align: left;
    background-color: green;
    color: white;
}

tr:nth-child(odd) {
    background-color: #71fa6b;
}

.header {
    text-align: center;
    color: darkgreen;
}

.account {
    width: 250px;
}

.btn-success {
    margin: 20px 0 0 0;
    color: white;
    background-color: green;
}

.btn-success:hover {
    background-color: darkgreen;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}